a {
	color: #52bdff;
}

h2 {
	height: 50px;
	margin-bottom: 0;
}

.fullwidth {
	width: 100%;
}

.clearboth {
	clear: both;
}

.footer {
	padding-top: 1em;
}

#statusBar {
	background-color: #fffd7b;
	line-height: 2em;
	height: 2em;
	font-size: 150%;
	margin-bottom: 1em;
	padding: 5px;
	width: 930px;
}

#resourceListContainer {
	height: 300px;
	overflow-y: auto;
}

#resourceList {
	margin: 0;
	padding-left: 20px;
	min-height: 300px;
	background: #DDEEFF; /* Old browsers */
	background: -moz-linear-gradient(top, #DDEEFF 0%, #C5D5DD 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DDEEFF), color-stop(100%,#C5D5DD)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #DDEEFF 0%,#C5D5DD 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #DDEEFF 0%,#C5D5DD 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #DDEEFF 0%,#C5D5DD 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DDEEFF', endColorstr='#C5D5DD',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #DDEEFF 0%,#C5D5DD 100%); /* W3C */
}

textarea {
	border: none;
	padding: 5px;
	width: 610px;
	min-height: 340px;
	-webkit-box-shadow: inset 0px 0px 2px #000000;
	-moz-box-shadow: inset 0px 0px 2px #000000;
	box-shadow: inset 0px 0px 2px #000000;
}